.partsButtons {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.newPart {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 250px;
  height: 400px;
  align-items: center;
}

.partLinks {
  display: flex;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  padding: 20px;
  flex-flow: wrap row;
}

.partLink {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  align-items: center;
  margin: 0 auto;
}

.workbenches-list {
  display: flex;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  padding: 20px;
  flex-flow: wrap row;
}

.wbcard {
  display: flex;
  height: 200px;
  width: 200px;
  align-items: center;
  margin: 0 auto;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e4c8e9a;
  margin: 0 auto 10px auto;
}
Nav {
  display: flex;
  flex-direction: column;
}
body {
  text-align: center;
  background-color: rgba(5, 78, 150, 0.701);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 25px;
  width: 200px;
  height: 200px;
}

.detailsList {
  margin: 20px auto;
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
}

.newBench {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.workBenches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
  flex-flow: wrap row;
}

.new-workbench {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 220px;
}
.bench {
  margin: 5px 5px;
}

.benchInfo {
  border: rgba(66, 84, 101, 0.62) 2px solid;
}

.benchPic {
  min-height: 200px;
  min-height: 200px;
  border: rgba(5, 78, 150, 0.701) solid 5px;
}

.workBenchList,
.allParts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

table {
  width: 80vw;
}

tbody {
  height: 200px;
}

.partName,
.partPrice {
  width: 200px;
}

.editPart,
.removePart {
  width: 100px;
}

.partButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  border: rgba(29, 43, 55, 0.25) solid 2px;
  border-radius: 25px;
  background-color: rgba(17, 25, 33, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  align-items: center;
  justify-content: space-around;
}

button {
  border-radius: 8px;
}
